@import "tailwindcss";
/* Scrollbar Dark */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #09090b;
}
::-webkit-scrollbar-thumb {
    background: #09090b;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #09090b;
}

/* Remove fundo branco de autofill do Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #09090b inset !important;
    -webkit-text-fill-color: white !important;
}

/* Ajustes finos do CodeMirror para preencher tudo */
.cm-editor {
    height: 100%;
    background-color: #09090b;
}
.cm-scroller {
    overflow: auto;
    padding: 0 !important;
}

.cm-theme-light .cm-content {
    background-color: #09090b;
}

.cm-line {
    background-color: #27272a;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: 18px;
}
